@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Columns Style Sheet
   Author: Dylan Kelley
   Date:   12.12.18

   Filename:   lht_columns.css

*/



/* Column Styles */
/* This style affects the article element to set the column gap to 20 pixels with a column width of 260 pixels, to set a 1 pixel solid column rule, and to set the widows and orphans to 2. */
article {
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;

    column-width: 260px;

    -moz-column-rule: 1px solid rgb(154, 64, 31);
    -webkit-column-rule: 1px solid rgb(154, 64, 31);
    column-rule: 1px solid rgb(154, 64, 31);

    widows: 2;
    orphans: 2;
}

/* This style affects h1 heading nested within the article to set the column span to all. */
article h1 {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
}